Repository B-ki/ft_transcendence, pull requests merged in 2023-11, with the labels that each got.

#55 Little front fixes
  front/src/components/Main.tsx
  front/src/components/Navbar.tsx
  front/src/main.tsx
  front/src/pages/Friends.tsx
  front/src/pages/Game.tsx
  front/src/pages/Home.tsx
  front/src/pages/OauthCallback.tsx
  front/src/pages/Profile.tsx
Labels: bug, feature, front

#65 Modified createGame to work with login
  api/src/modules/game/game.controller.ts
  api/src/modules/game/game.service.ts
Labels: back

#64 Profile Page
  front/src/assets/align-justify-svgrepo-com.svg
  front/src/assets/blurry-gradient-haikei(1).svg
  front/src/assets/blurry-gradient-haikei.png
  front/src/assets/cool-profile-picture.jpg
  front/src/assets/d9569bbed4393e2ceb1af7ba64fdf86a.jpg
  front/src/assets/low-poly-grid-haikei.svg
  front/src/components/Button.tsx
  front/src/components/Dropdown.tsx
  front/src/components/GameHistoryTable.tsx
  front/src/components/PicUploader.tsx
  front/src/dto/gameDto.tsx
  front/src/dto/userDto.tsx
  front/src/pages/Friends.tsx
  front/src/pages/Profile.tsx
Labels: waiting for review

#102 Adding new icon, and fix Cancel on click
  front/src/assets/chat/find_someone.png
  front/src/components/chat/Chat.tsx
  front/src/components/chat/DmCreate.tsx
Labels: front

#107 Fix last errors
  front/src/components/TwoFaActivationInput.tsx
  front/src/components/chat/DmCreate.tsx
Labels: front
